body {
	margin: 0;
	font-family: Noway !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fafafa;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
.App {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
}
.login-page-main {
	display: flex;
	width: 100%;
}
.login-bg-img {
	background-image: url('./assets/login-right-img.jpg');
	background-size: cover;
	flex-grow: 7;
}
.login-form-container {
	flex-grow: 1;
	background: #fafafa;
	width: 386px;
}
.login-title,
.leaderboard-title,
.team-selection-title,
.total-squad-title,
.random-squad-title {
	height: 48px;
	background: rgb(197, 29, 35);
	align-items: center;
	color: #fff;
	font-weight: bold;
	display: flex;
	justify-content: space-around;
}
.login-card {
	background-color: #fff;
	margin: 8px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	overflow: hidden;
	padding: 30px 16px;
}
.login-card-content {
	margin: 16px 8px;
}
.ant-btn.ant-btn-primary {
	background: #25ba38;
	border: 0;
	cursor: pointer;
	margin: 0;
	text-decoration: none;
	text-align: center;
	font-family: Noway;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	height: 30px;
	padding: 0 8px;
	width: 100%;
	border-radius: 4px;
	text-transform: uppercase;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
	background: #25ba38 !important;
	border-color: #25ba38 !important;
}
.ant-form-item-label > label {
	font-size: 12px !important;
	color: #888 !important;
}
.ant-form-item-explain.ant-form-item-explain-error {
	color: #c51d23 !important;
	font-size: 10px;
	height: 16px;
	font-weight: bold;
}
.spinner-component {
	left: 50%;
	position: fixed;
	top: 30%;
}
.leaderboard-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.ant-tabs-ink-bar {
	background: #c51d23 !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	color: #c51d23 !important;
}
.ant-table-cell {
	text-transform: capitalize !important;
}
.ant-tabs.ant-tabs-top.leaderboard-tabs {
	padding: 16px;
}
.lead-container {
	display: flex;
	flex-wrap: wrap;
}
.leading-title {
	height: 48px;
	background: rgb(197, 29, 35);
	align-items: center;
	color: #fff;
	font-weight: bold;
	display: flex;
	justify-content: space-around;
	text-transform: capitalize;
	img {
		width: 300px;
		height: 250px;
	}
}
.leading-team {
	margin: 0 auto;
	margin-top: 16px;
}
.team-selection-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.team-selection-title {
	margin-bottom: 20px;
	width: 100%;
}
.selection-list {
	display: flex;
	flex-wrap: wrap;
	// justify-content: space-between;
}
@media (min-width: 1000px) {
	.total-squad,
	.random-container {
		width: 50% !important;
	}
}
.total-squad,
.random-container {
	width: 100%;
	padding: 20px;
	text-align: center;
}
.ant-list-item-meta-description {
	text-transform: capitalize !important;
}
.team-cards {
	text-transform: capitalize;
}
.partner-gif {
	width: 25rem;
}
.ant-modal-confirm .ant-modal-confirm-btns {
	display: flex !important;
}
.individual-teams,
.random-teams {
	height: 50vh;
	margin-bottom: 20px;
}
.lead-gif-lb {
	width: 100%;
	height: 15rem;
}
.table-cell-avatar {
	display: flex;
	align-items: center;
}
.team-name-cell {
	margin-left: 25px;
}
.suva-db {
	margin: 20% auto;
	font-size: 2vw;
}
.ant-tabs-content {
	text-align: center !important;
}
.gif-modal {
	.ant-modal-content {
		background-color: transparent;
	}
}
.complete-match-container {
	height: 70vh;
	overflow: auto;
	padding: 10px;
}
.complete-flex,
.complete-flex-title {
	display: flex;
	align-items: center;
	text-transform: capitalize;
}
.complete-flex-title {
	height: 48px;
	background: rgb(197, 29, 35);
	color: #fff;
	font-weight: bold;
	text-transform: capitalize;
}
.complete-flex {
	background: #fff;
	margin: 10px 0px;
	box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 0.2),
		0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.match-combo,
.match-combo-title {
	display: flex;
	width: 50%;
}
.ant-card-grid {
	padding: 5%;
	width: 100% !important;
}
.match-name,
.match-name-title {
	width: 15% !important;
}
.team-category-container {
	width: 100%;
}
.cat-flex {
	display: flex;
	justify-content: space-between;
}
.match-winner,
.match-team-winner,
.match-winner-title,
.match-team-winner-title {
	width: 17.5%;
}
.match-combo-title {
	display: flex;
	justify-content: space-around;
}
.match-team-winner-title {
	border-right: 1px solid;
	border-left: 1px solid;
}
.match-name-title {
	border-right: 1px solid;
}
.ant-card-head {
	min-height: 0px !important;
	padding: 0px !important;
}
.ant-card-head-wrapper {
	background: green;
	height: 30px;
	color: #fff;
}
@media only screen and (max-width: 700px) {
	.match-combo,
	.match-combo-title {
		display: flex;
		flex-direction: column;
		width: 40%;
	}
}
.team-win-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.avatar-winner {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.avatar-name-cell {
	display: flex;
	align-items: center;
}
.avatar-name {
	margin-left: 10%;
}
